---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.categories.docker %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Rails</h1>
  <ul class="post-list">
    {% assign pages = site.categories.rails | sort: "step" %}
    {% for post in pages %}
      <li>
        <h3>
          <a class="post-link" href="/{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
