.btn-overflow .popover-hover-wrapper {
  margin-left: 12px;

  @include media(sm) {
    margin-left: 39px;
  }

  @include media(xxs) {
    margin-left: 54px;
  }
}

.popover-header-menu {

  @include media(sm) {
    padding-right: 0;
  }

  @include media(xxs) {
    width: calc(100vw - 60px);
  }

  @include media(xxs) {
    padding: 9px 0 9px 9px;
    width: calc(100vw - 30px);
  }

  .btn-product {
    @include media(xxxs) {
      width: 150px;
    }

    + .btn {
      margin-top: 9px;
    }

    .small {
      @include media(xxxs) {
        display: none;
      }
    }
  }

  .list-product {
    padding: 0 15px 0 0;

    @include media(xxs) {
      padding-right: 9px;
    }
  }

  .list {
    @include media(sm) {
      border-left: 1px solid $gray-lighter;
      margin-bottom: -15px;
      margin-top: -15px;
      padding: 15px;
    }

    @include media(xxs) {
      margin-bottom: -9px;
      margin-top: -9px;
      padding: 15px 9px;
    }
  }

  .divider {
    @include media(sm) {
      margin: 15px 0;
    }
  }

  .list-item-a {
    cursor: pointer;
    height: $input-sm;
    line-height: $input-sm;
    padding: 0 15px 0 6px;

    @include media(sm) {
      height: $input-md;
      line-height: $input-md;
      padding: 0 60px 0 15px;
    }

    @media (max-width: 510px) {
      padding: 0 15px;
    }

    &:hover {
      color: $purple-light;
    }

    &.visible-xs {
      display: none;

      @include media(xs) {
        display: block;
      }
    }

    .icons {
      height: 12px;
      margin-left: 3px;
      opacity: .5;
      width: 12px;
    }
  }
}
