.main {
  overflow: visible;
  padding-bottom: 30px;

  &.hero-only {
    padding-bottom: 0;
  }

  .well-anchor {
    min-width: 660px;

    @include media(sm) {
      min-width: 0;
    }
  }
}

.page-landing {

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media (min-width: $screen-xxs) {
      max-width: inherit;
      width: inherit;
    }

    @media (min-width: $screen-xs) {
      max-width: $screen-xs - 30px;
      width: $screen-xs - 30px;
    }

    @media (min-width: $screen-sm) {
      max-width: $screen-sm - 30px;
      width: $screen-sm - 30px;
    }

    @media (min-width: $screen-md) {
      max-width: $screen-md - 30px;
      width: $screen-md - 30px;
    }
  }

  .grid-container-sm {
    max-width: 630px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .h1 {
    margin: 21px 0;
  }

  .h2,
  .h3 {
    margin: 15px 0;

    @include media(xxs) {
      line-height: 1.4;
    }
  }

  .ol,
  .ul,
  .p {
    margin-bottom: 9px;
  }

  .ol,
  .ul {
    list-style-type: circle;
    margin: 0;
    padding-left: 21px;
  }

  .hr {
    background: $gray-lighter;
    border: 0;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;

    @include media(xs) {
      margin-left: 30px;
      margin-right: 30px;
      max-width: calc(100% - 60px);
    }

    &.hr-footer {
      margin-top: 150px;

      @include media(sm) {
        margin-top: 60px;
      }
    }
  }

  .img-centered {
    display: block;
    margin: 0 auto;

    @include media(xxs) {
      height: auto;
      max-width: 100%;
    }
  }
}

.article {
  padding: 75px 0;
  position: relative;

  @include media(sm) {
    padding: 60px 0;
  }

  @include media(xxs) {
    padding: 60px 30px;
  }
}
