<nav class="grid-block align-center justify-center breadcrumbs">
  <a class="grid-block shrink align-center link" href="{{ site.baseurl }}/"><svg class="icons icons-life-preserver"><use xlink:href="#icons-life-preserver"></svg></a> <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
  {% if page.categories %}
  <a class="link transform-capitalize" href="{{ site.baseurl }}/{{ page.categories }}/">{{ page.categories }}</a> <svg class="icons icons-chevron-right"><use xlink:href="#icons-chevron-right"></svg>
  {% endif %}
  <a class="link link text-overflow" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
</nav>
