<footer class="grid-block vertical footer justify-spaced">
  <a class="sign-up-box grid-block vertical well well-anchor" href="//runnable.com">
    <img class="img" src="images/runnabear-hello.png">
    <p class="p">Runnable is <strong class="strong">free</strong> during our preview,<br class="hidden-xxxs">
      including infrastructure costs!
    <div class="btn btn-sm green">Sign Up</div>
  </a>
  <div class="grid-block link-wrapper">
    <div class="grid-block vertical align-start">
      <a href="demo.html" class="btn btn-xs link strong">Request Demo</a>
      <a href="product.html" class="btn btn-xs link strong">Product</a>
      <a href="http://support.runnable.io" class="btn btn-xs link strong">Docs</a>
      <a href="about.html" class="btn btn-xs link strong">About</a>
    </div>
    <div class="grid-block vertical align-start">
      <a href="http://blog.runnable.com" class="btn btn-xs link strong">Blog</a>
      <a href="http://blog.runnable.com/private/141107158076/tumblr_o43mfmwB671t3hjy4" class="btn btn-xs link strong">Pricing</a>
      <a href="http://blog.runnable.com/private/141107137076/tumblr_o43mexUxVP1t3hjy4" class="btn btn-xs link strong">Security</a>
      <a href="privacy.html" class="btn btn-xs link strong">Privacy</a>
    </div>
  </div>
</footer>
